<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <clear />
	 <add key="nuget" value="%NUGET_SOURCE_URL%" />
	 <add key="github" value="%NUGET_PLATFORM_URL%" />
  </packageSources>
  <packageSourceCredentials>
     <github>
         <add key="Username" value="%GITHUB_PACKAGE_REGISTRY_USERNAME%" />
         <add key="ClearTextPassword" value="%GITHUB_PACKAGE_REGISTRY_PASSWORD%" />
     </github>
  </packageSourceCredentials>
</configuration>
